[Desktop Entry]
Type=Application
Exec=flatpak run io.github.jeffshee.Hidamari --sys-startup
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[pt_BR]=HIdamari
Name=HIdamari
Comment[pt_BR]=Start Wallpaper Animation
Comment=Start Wallpaper Animation
