[Desktop Entry]
Type=Application
Exec=/home/vrsmarcos26/Downloads/Aplicativos/OpenRGB.AppImage --startminimized --profile White
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[pt_BR]=OpenRGB
Name=OpenRGB
Comment[pt_BR]=Start RGB's
Comment=Start RGB's
