[Desktop Entry]
Version=1.0
Name=TryHackMe
Comment=Study Hack
Exec=brave-browser --app="https://tryhackme.com/" --class=WebApp-TryHackMe0628 --name=WebApp-TryHackMe0628 --user-data-dir=/home/vrsmarcos26/.local/share/ice/profiles/TryHackMe0628
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/vrsmarcos26/.local/share/ice/icons/TryHackMe.png
Categories=GTK;Development;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-TryHackMe0628
StartupNotify=true
X-WebApp-Browser=Brave Browser
X-WebApp-URL=https://tryhackme.com/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
